{% extends '@ElectroForumsTheme/frontend/layout.html.twig' %}

{% block title %}Welcome to ElectroForums !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/electroforumforum/css/frontend/forum.css') }}">
{% endblock %}

{% block page_title %}Home{% endblock %}
{% block page_tip %}Welcome to ElectroForums.{% endblock %}

{% block content %}
    <div class="container" style="padding: 21px 0">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('frontend_home') }}">
                    <img src="{{ asset('bundles/electroforumsforum/images/general-forum.png') }}" />
                    Welcome Forum
                    <p style="font-size: 13px;">Managed by</p>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    </ul>
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-center" aria-current="page" href="{{ path('frontend_editor') }}">
                                <img src="{{ asset('bundles/electroforumsforum/images/post.png') }}"/>
                                <p>Add Topic</p>
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link" aria-current="page" href="{{ path('frontend_home') }}">
                                <img src="{{ asset('bundles/electroforumsforum/images/trend.png') }}"/>
                                <p>Trending</p>
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link" aria-current="page" href="{{ path('frontend_home') }}">
                                <img src="{{ asset('bundles/electroforumscms/images/notifications.png') }}"/>
                                <p>Message</p>
                            </a>
                        </li>
                        <li style="margin-right: 9px;">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                    <option selected>1/4587</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                <label for="floatingSelect">Page</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                    <option selected>Recent</option>
                                    <option value="1">Trending</option>
                                </select>
                                <label for="floatingSelect">Sort by</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row home-cms">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <th class="text-center"></th>
                    <th>Subjects</th>
                    <th></th>
                    <th>Publisher</th>
                    <th class="text-center">Comments</th>
                    <th class="text-center">Reads</th>
                    <th>Last reply</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">
                            <img src="{{ asset('bundles/electroforumsforum/images/folder.png') }}" />
                        </td>
                        <td>
                            <a href="{{ path('content_topic', {id: 1}) }}">Welcome Forum !</a>
                        </td>
                        <td>

                        </td>
                        <td>
                            <a href="#">Jean Michel</a>
                        </td>
                        <td class="text-center">7854</td>
                        <td class="text-center">
                            475
                        </td>
                        <td>
                            <a href="#">Med ELQ</a>
                        </td>
                        <td>
                            <div class="btn-group dropstart">
                                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true"
                                   aria-expanded="false">
                                    View
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">View Forum</a></li>
                                    <li><a class="dropdown-item" href="#">#Trend Subjects</a></li>
                                    <li><a class="dropdown-item" href="#">Message Managers</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <img src="{{ asset('bundles/electroforumsforum/images/folder.png') }}" />
                        </td>
                        <td>
                            <a href="#">Get in Touch for Last ElectroForums Updates</a>
                        </td>
                        <td>
                            <img src="{{ asset('bundles/electroforumsforum/images/locked-forum.png') }}" />
                        </td>
                        <td>
                            <a href="#">Jean Michel</a>
                        </td>
                        <td class="text-center">745</td>
                        <td class="text-center">
                            547
                        </td>
                        <td>
                            <a href="#">Christophe Dev</a>
                        </td>
                        <td>
                            <div class="btn-group dropstart">
                                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true"
                                   aria-expanded="false">
                                    View
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">View Forum</a></li>
                                    <li><a class="dropdown-item" href="#">#Trend Subjects</a></li>
                                    <li><a class="dropdown-item" href="#">Message Managers</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}