{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div data-controller="grid">
    <ul class="nav nav-tabs grid-filters-tabs justify-content-end" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="filters-tab" data-bs-toggle="tab" data-bs-target="#filters" type="button" role="tab"
               aria-controls="filters" aria-selected="true" href="#">
                Filters
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Columns</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Export</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
            </ul>
        </li>
    </ul>
    <div class="tab-content mb-3" id="myTabContent">
        <div class="tab-pane fade" id="filters" role="tabpanel" aria-labelledby="filters-tab">
            <div class="grid-filters">
                <div class="row row-cols-4">
                    <div class="col">
                        <div class="mt-3">
                            <label for="exampleInputEmail1" class="form-label">#ID</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="From" id="exampleInputEmail1"
                                       aria-describedby="emailHelp">
                                <input type="text" class="form-control" placeholder="To" aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mt-3">
                            <label for="exampleInputEmail1" class="form-label">Title</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mt-3">
                            <label for="exampleInputEmail1" class="form-label">Website View</label>
                            <select class="form-select" aria-label="Default select example">
                                <option value="1">All Website Views</option>
                                <optgroup label="Main Root Website"></optgroup>
                                <optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;Main Website"></optgroup>
                                <option value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Main Website View</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mt-3">
                            <label for="exampleInputEmail1" class="form-label">Status</label>
                            <select class="form-select" aria-label="Default select example">
                                <option value="1">Enabled</option>
                                <option value="2">Disabled</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse mt-3 mb-3">
                    <input class="btn btn-primary btn-sm ms-2" type="submit" value="Apply Filters">
                    <a href="#filters" class="btn btn-sm" role="button" data-bs-toggle="collapse">Cancel</a>
                </div>
            </div>
        </div>
    </div>


    <form role="search">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{ block.trans('Search by Keyword ..') }}"
                           aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn" type="button" id="button-addon2"
                            style="border: 1px solid #CCC; padding-top: 0;">
                        <img src="{{ asset('bundles/programcmsui/images/search.png') }}" />
                    </button>
                </div>
            </div>
        </div>
    </form>


    <nav class="navbar navbar-expand-lg">
        <div class="navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex me-5" role="search">
                    <select style="width: 250px;" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>{{ block.trans('Select an Action') }}</option>
                        <option value="1">Delete</option>
                        <option value="2">Activate</option>
                        <option value="3">Desactivate</option>
                    </select>
            </form>
            <span class="mb-0">{{ block.getCount() }} {{ block.trans('records found') }}</span>

            <div class="input-group flex-nowrap mb-3 justify-content-end ms-auto mt-2" style="width: 120px;">
                <button class="btn pagination-left-button" type="button" id="button-addon1"></button>
                <input type="text" style="width: 50px;" class="form-control text-center" value="1">
                <button class="btn pagination-right-button" type="button" id="button-addon2"></button>
            </div>
        </div>
    </nav>

    <table class="table table-bordered table-striped table-hover mt-3 admin-table">
        <thead class="table-dark">
            {% for column in block.getColumns() %}
                <th {% if column.type == 'actions' %}class="text-center"{% endif %}>{{ column.title }}</th>
            {% endfor %}
        </thead>
        {% if block.getCount() > 0 %}
        <tbody>
        {% set actions = block.getActions() %}
        {% for keyColumn, rowColumn in block.getRows() %}
            <tr>
                {% if(keyColumn == 'selectionsColumn') %}
                <td class="text-center">
                    <input type="checkbox" class="form-check-input" name=""/>
                </td>
                {% endif %}
                {# Populate Grid Data #}
                {% for columnKey, columnValue in rowColumn %}
                    <td {% if columnKey == 'actionsColumn' %}class="text-center"{% endif %}>{{ columnValue|raw }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        {% else %}
            <tr>
                <td style="text-align: center; color: #a3a3a3" colspan="{{ block.getColumns()|length }}">No Records Found.</td>
            </tr>
        {% endif %}
    </table>
</div>