{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
{{ block.getChildHtml('filters')|raw }}

{{ block.getChildHtml('search')|raw }}

<nav class="navbar navbar-expand-lg">
    <div class="navbar-collapse">
        {{ block.getChildHtml('massActions')|raw }}
        <div class="flex-nowrap mb-0">{{ block.countItems() }} {{ block.trans('records found') }}</div>
        {{ block.getChildHtml('pagination')|raw }}
    </div>
</nav>