{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="clear">
    {{ block.getChildHtml(block.getName() ~ '_filters')|raw }}

    {{ block.getChildHtml(block.getName() ~ '_search')|raw }}

    <nav class="navbar navbar-expand-lg">
        <div class="navbar-collapse">
            {{ block.getChildHtml(block.getName() ~ '_massActions')|raw }}
            <div class="flex-nowrap mb-0">{{ block.countItems() }} {{ block.trans('records found') }}</div>
            {{ block.getChildHtml(block.getName() ~ '_pagination')|raw }}
        </div>
    </nav>
</div>