{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
{% if block.isEnabled() %}
<div class="col-md">
    <div class="float-end">
        <label for="newsletter_email" class="mb-2 text-muted">{{ block.trans('Subscribe to our Newsletter :') }}</label>
        <form action="{{ block.getSubmitNewsletterUrl() }}" method="POST">
            <div class="input-group">
                <span class="input-group-text">
                    <img src="{{ asset('bundles/programcmsnewsletter/images/newsletter.png') }}" alt="Newsletter"/>
                </span>
                <input type="text" name="newsletter_email" id="newsletter_email" class="form-control" placeholder="{{ block.trans('Enter your email address') }}"
                       aria-label="Enter your email address" aria-describedby="Enter your email address">
                <input type="submit" class="btn btn-primary" id="button-addon2" value="{{ block.trans('Subscribe') }}" />
            </div>
        </form>
    </div>
</div>
{% endif %}