{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="navbar-collapse justify-content-end navbar-actions" data-controller="toolbar">
    <ul class="navbar-nav">
        {% for button in block.getButtons() %}
            <li class="nav-item">
                <button
                    type="button"
                    class="btn {{ button.class }}"
                    data-btn-type="{{ button.buttonType }}"
                    data-action="toolbar#buttonClick"
                    {% if button.buttonType == 'save' %}
                    data-btn-target="{{ button.buttonTarget }}"
                    {% else %}
                    data-btn-action="{{ button.buttonAction }}"
                    {% endif %}
                    {% if button.confirm %}
                    data-btn-confirm="{{ button.confirm }}"
                    {% endif %}
                >{{ button.label|trans }}</button>
            </li>
        {% endfor %}
    </ul>
</div>
{#<img style="margin-bottom: 2px; margin-right: 3px;" src="{{ asset('bundles/programcmsadmin/images/back.png') }}" />#}