{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<form>
    <div class="row mb-4">
        <div class="col">
            <label class="form-label" for="inputPassword6">{{ block.trans('First Name') }}</label>
            <input type="text" id="inputPassword6" class="form-control" value="{{ app.user.getUserFirstname() }}">
        </div>
        <div class="col">
            <label class="form-label" for="inputPassword6">{{ block.trans('Last Name') }}</label>
            <input type="text" id="inputPassword6" class="form-control" value="{{ app.user.getUserLastname() }}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="form-label" for="inputPassword6">{{ block.trans('Email') }}</label>
            <input type="text" id="inputPassword6" class="form-control" value="{{ app.user.email }}">
        </div>
        <div class="col">
            <label class="form-label" for="inputPassword6">{{ block.trans('User Name') }}</label>
            <input type="text" id="inputPassword6" class="form-control" value="{{ app.user.getUsername() }}">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <input type="submit" class="btn btn-primary" value="{{ block.trans('Save') }}">
        </div>
    </div>
</form>