{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<form action="{{ block.getSavePasswordUrl() }}" method="POST">
    <div class="row mb-4">
        <div class="col">
            <label class="form-label" for="new_password">{{ block.trans('New Password') }}</label>
            <input type="password" name="new_password" id="new_password" class="form-control">
            <small id="newPasswordInline" class="text-muted">
                {{ block.trans('Must be 8-20 characters long.') }}
            </small>
        </div>
        <div class="col">
            <label class="form-label" for="confirm_password">{{ block.trans('Confirm Password') }}</label>
            <input type="password" name="confirm_password" id="confirm_password" class="form-control">
            <small id="confirmPasswordInline" class="text-muted">
                {{ block.trans('Must be 8-20 characters long.') }}
            </small>
        </div>
        <div class="col">
            <label class="form-label" for="password">{{ block.trans('Current Password') }}</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <input type="submit" class="btn btn-primary" value="{{ block.trans('Update Password') }}">
        </div>
    </div>
</form>