{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="fieldset">
    {% for field in block.getChildBlocks() %}
        {% if(field.hasLabel()) %}
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="{{ field.getId() }}" class="col-form-label"
                           style="font-size: 14px; font-weight: 600;">
                        {{ field.getLabel() }}
                        {% if field.isRequired() %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {% if field.isInheritCheckboxRequired() %}
                            <div class="text-muted" style="font-size: 11px; font-weight: normal;">{{ field.getScopeLabel() }}</div>
                        {% endif %}
                    </label>
                </div>
                <div class="col-6">
                    {{ field.toHtml()|raw }}

                    {% if field.hasHelpMessage() %}
                        <div id="{{ field.getName() }}emailHelp" class="form-text"
                             style="font-size: 13px; margin-top: 5px;">
                            {{ field.getHelpMessage() }}
                        </div>
                    {% endif %}

                    {% if field.isInheritCheckboxRequired() %}
                        {{ field.renderInheritCheckbox()|raw }}
                    {% endif %}
                </div>
            </div>
        {% else %}
            {{ field.toHtml()|raw }}
        {% endif %}
    {% endfor %}
</div>