{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<form>
    {% for fieldset in efBlock.getFieldSets() %}
        {% for field in fieldset.getFields() %}
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="{{ field.getName() }}" class="col-form-label">{{ field.getLabel() }} *</label>
                </div>
                <div class="col-6">
                    {{ field.getHtml()|raw }}

                    {% if field.getHelpMessage() is not empty %}
                        <div id="{{ field.getName() }}emailHelp" class="form-text">{{ field.getHelpMessage() }}</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</form>