{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/programcmstheme/images/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/programcmstheme/images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/programcmstheme/images/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('bundles/programcmstheme/images/favicon/site.webmanifest') }}">

        <title>{{ efTitle }}</title>

        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}
        {# Merge All Css Files #}
        {% for cssFile in efCss %}
            <link rel="stylesheet" type="text/css" href="{{ asset(cssFile) }}" />
        {% endfor %}

        {# Load global app js file #}
        {{ encore_entry_link_tags('app') }}
        {# Merge All Javascript Files #}
        {% for jsFile in efJs %}
            <script type="text/javascript" src="{{ asset(jsFile) }}"></script>
        {% endfor %}
    </head>
    <body>
        {# Print Body Content #}
        {{ html|raw }}
    </body>
</html>