{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/programcmstheme/images/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/programcmstheme/images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/programcmstheme/images/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('bundles/programcmstheme/images/favicon/site.webmanifest') }}">
        {# Page Title #}
        <title>{{ efTitle }}</title>

        {#
        /*
         * Load Global app css file
         * Merge All static Css files
         */
        #}
        {{ encore_entry_link_tags('app', null, 'app_backend') }}
        {% for cssFile in efCss %}
            <link rel="stylesheet" type="text/css" href="{{ asset(cssFile) }}" />
        {% endfor %}
    </head>
    <body>
        {# Print Body Content #}
        {{ html|raw }}

        {#
        /*
         * Load Global app js file
         * Merge All static Javascript files
         * Ensure JS files being loaded after DOM ready
         */
        #}
        {% for jsFile in efJs %}
            <script type="text/javascript" src="{{ asset(jsFile) }}"></script>
        {% endfor %}
        {{ encore_entry_script_tags('app', null, 'app_backend') }}
    </body>
</html>