<div class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{{ path('frontend_home') }}">ElectroForums</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                </ul>
                <form class="d-flex" role="search" style="margin-right: 11px;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search anything here .." aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn" type="button" id="button-addon2"
                        style="border: 1px solid #CCC; border-left: 0; padding-top: 0;">
                            <img src="{{ asset('bundles/electroforumsforum/images/search.png') }}" style="width: 15px; height: 15px"/>
                        </button>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('frontend_home') }}">
                                <img src="{{ asset('bundles/electroforumscms/images/messages.png') }}" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('frontend_home') }}">
                                <img src="{{ asset('bundles/electroforumscms/images/notifications.png') }}" />
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">My Topics</a>
                                <a class="dropdown-item" href="#">My Replies</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('electro_forums_user_edit_dashboard') }}">Edit Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('electro_forums_user_logout') }}">Logout</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>