{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="">
    <div class="row">
        <div class="col-md-7">
            <table class="table table-striped">
                <tr>
                    <td class="text-muted">{{ block.trans('Last Logged In') }} :</td>
                    <td>{{ block.getLastLog() }}</td>
                </tr>
                <tr>
                    <td class="text-muted">{{ block.trans('Account Lock') }} :</td>
                    <td>{{ block.getLockLabel() }}</td>
                </tr>
                {% if is_granted('ProgramCmsAdminBundle_admin') %}
                <tr>
                    <td class="text-muted">{{ block.trans('Confirmed email') }} :</td>
                    <td>{{ block.getEmailConfirmation() }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td class="text-muted">{{ block.trans('Account Created') }} :</td>
                    <td>{{ block.getAccountCreationDate() }}</td>
                </tr>
                <tr>
                    <td class="text-muted">{{ block.trans('Account Created in') }} :</td>
                    <td>{{ block.getAccountWebsiteView()|raw }}</td>
                </tr>
                <tr>
                    <td class="text-muted">{{ block.trans('Associate to Group') }} :</td>
                    <td>Administrator</td>
                </tr>
            </table>
        </div>
        <div class="col-md-5">
            <div class="mb-2" style="font-weight: bold; font-size: 14px;">{{ block.trans('Default Address') }}</div>
            <p>
                Mohamed EL QUCHIRI<br>
                6146 Honey Bluff Parkway<br>
                Calder, Michigan, 49628-7978<br>
                United States<br>
                T: (555) 229-3326
            </p>
        </div>
    </div>
</div>