{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="">
    <div class="row">
        <div class="col-md-7">
            <table class="table table-striped">
                <tr>
                    <td class="text-muted">{{ block.trans('Last Logged In') }} :</td>
                    <td>{{ block.getLastLog() }}</td>
                </tr>
                <tr>
                    <td class="text-muted">{{ block.trans('Account Lock') }} :</td>
                    <td>{{ block.getLockLabel() }}</td>
                </tr>
                {% if is_granted('ProgramCmsAdminBundle_admin') %}
                <tr>
                    <td class="text-muted">{{ block.trans('Confirmed email') }} :</td>
                    <td>{{ block.getEmailConfirmation() }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td class="text-muted">{{ block.trans('Account Created') }} :</td>
                    <td>{{ block.getAccountCreationDate() }}</td>
                </tr>
                <tr>
                    <td class="text-muted">{{ block.trans('Account Created in') }} :</td>
                    <td>{{ block.getAccountWebsiteView()|raw }}</td>
                </tr>
                <tr>
                    <td class="text-muted">{{ block.trans('Associate to Group') }} :</td>
                    <td>Administrator</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3 ps-4">
            <div class="mb-3" style="font-weight: bold; font-size: 14px;">{{ block.trans('Default Address') }} :</div>
            <p>
                {{ block.getDefaultAddress()|raw }}
            </p>
        </div>
        <div class="col">
            <div class="profile-image"
                 style="display: inline-block; border: 2px solid #8db4db; width: 63px; height: 63px; border-radius: 50%; padding: 1px;">
                <img src="{{ block.getUser().getProfileImage() }}"
                     style="width: 100%; height: 100%; border-radius: 50%;" alt=""/>
            </div>
        </div>
    </div>
</div>