<div class="sidebar">
    <ul>
        <li>
            <a href="/" id="electroforums">
                <img src="{{ asset('bundles/electroforumsadmin/images/electro.png') }}"/>
                <p>ElectroForums</p>
            </a>
        </li>
        <li>
            <a href="" id="dashboard">
                <img src="{{ asset('bundles/electroforumsadmin/images/dashboard.png') }}"/>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a href="/" id="clients">
                <img src="{{ asset('bundles/electroforumsadmin/images/user.png') }}"/>
                <p>Users</p>
            </a>
        </li>
        <li>
            <a href="/" id="forums">
                <img src="{{ asset('bundles/electroforumsadmin/images/forums.png') }}"/>
                <p>Forums</p>
            </a>
        </li>
        <li>
            <a href="/" id="content">
                <img src="{{ asset('bundles/electroforumsadmin/images/content.png') }}"/>
                <p>Content</p>
            </a>
        </li>
        <li>
            <a href="/" id="marketing">
                <img src="{{ asset('bundles/electroforumsadmin/images/marketing.png') }}"/>
                <p>Marketing</p>
            </a>
        </li>
        <li>
            <a href="/" id="reports">
                <img src="{{ asset('bundles/electroforumsadmin/images/report.png') }}"/>
                <p>Reports</p>
            </a>
        </li>
        <li>
            <a href="/" id="ef-websites">
                <img src="{{ asset('bundles/electroforumsadmin/images/websites.png') }}"/>
                <p>Websites</p>
            </a>
        </li>
        <li>
            <a href="/" id="system">
                <img src="{{ asset('bundles/electroforumsadmin/images/system.png') }}"/>
                <p>System</p>
            </a>
        </li>
        <li>
            <a href="/" id="ef-manager">
                <img src="{{ asset('bundles/electroforumsadmin/images/install.png') }}"/>
                <p>EF Manager</p>
            </a>
        </li>
        <li>
            <a href="/" id="ef-help">
                <img src="{{ asset('bundles/electroforumsadmin/images/help.png') }}"/>
                <p>EF Help !</p>
            </a>
        </li>
    </ul>
</div>

<div class="menu-items" id="electroforums">
    <div class="menu-item">
        <div class="menu-item-title">ElectroForums &copy;</div>
        <div class="close-sign">&#x2715;</div>
    </div>
    <ul>
        <li>
            <a href="#">About EF</a>
        </li>
        <li>
            <a href="#">Contribute to EF Project</a>
        </li>
    </ul>
</div>
<div class="menu-items" id="clients">
    <div class="menu-item">
        <div class="menu-item-title">Users</div>
        <div class="close-sign">&#x2715;</div>
    </div>
    <ul>
        <li>
            <a href="">All Users</a>
        </li>
        <li>
            <a href="#">Now Online</a>
        </li>
        <li>
            <a href="#">Locked Users</a>
        </li>
        <li>
            <a href="#">Manage User Roles</a>
        </li>
    </ul>
</div>
<div class="menu-items" id="content">
    <div class="menu-item">
        <div class="menu-item-title">Content</div>
        <div class="close-sign">&#x2715;</div>
    </div>
    <div class="menu-item-group-title">Elements</div>
    <ul>
        <li>
            <a href="">Pages</a>
        </li>
        <li>
            <a href="#">Blocks</a>
        </li>
    </ul>
    <div class="menu-item-group-title">Design</div>
    <ul>
        <li>
            <a href="#">Configuration</a>
        </li>
        <li>
            <a href="#">Themes</a>
        </li>
    </ul>
</div>
<div class="menu-items" id="forums">
    <div class="menu-item">
        <div class="menu-item-title">Forums</div>
        <div class="close-sign">&#x2715;</div>
    </div>
    <ul>
        <li>
            <a href="">Categories</a>
        </li>
        <li>
            <a href="#">Configuration</a>
        </li>
    </ul>
</div>
<div class="menu-items" id="marketing">
    <div class="menu-item">
        <div class="menu-item-title">Marketing</div>
        <div class="close-sign">&#x2715;</div>
    </div>
    <ul>
        <li>
            <a href="#">About EF</a>
        </li>
        <li>
            <a href="#">Contribute to EF Project</a>
        </li>
    </ul>
</div>
<div class="menu-items" id="reports">
    <div class="menu-item">
        <div class="menu-item-title">Reports</div>
        <div class="close-sign">&#x2715;</div>
    </div>
    <ul>
        <li>
            <a href="#">About EF</a>
        </li>
        <li>
            <a href="#">Contribute to EF Project</a>
        </li>
    </ul>
</div>
<div class="menu-items" id="ef-websites">
    <div class="menu-item">
        <div class="menu-item-title">Websites</div>
        <div class="close-sign">&#x2715;</div>
    </div>
    <ul>
        <li>
            <a href="">All Web Sites</a>
        </li>
        <li>
            <a href="{{ path('adminhtml_config_systemconfig_index') }}">Configuration</a>
        </li>
    </ul>
</div>
<div class="menu-items" id="system">
    <div class="menu-item">
        <div class="menu-item-title">System</div>
        <div class="close-sign">&#x2715;</div>
    </div>
    <ul>
        <li>
            <a href="#">Roles</a>
        </li>
        <li>
            <a href="#">Admin Users</a>
        </li>
    </ul>
</div>
<div class="menu-items" id="ef-manager">
    <div class="menu-item">
        <div class="menu-item-title">EF Manager</div>
        <div class="close-sign">&#x2715;</div>
    </div>
    <ul>
        <li>
            <a href="#">Installed Plugins</a>
        </li>
        <li>
            <a href="#">Browse Store Plugins &#187;</a>
        </li>
    </ul>
</div>
<div class="menu-items" id="ef-help">
    <div class="menu-item">
        <div class="menu-item-title">EF Help</div>
        <div class="close-sign">&#x2715;</div>
    </div>
    <ul>
        <li>
            <a href="#">About EF</a>
        </li>
        <li>
            <a href="#">Contribute to EF Project</a>
        </li>
    </ul>
</div>