{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="login-container">
    <a href="{{ block.getAdminLoginUrl() }}">
        <img style="width: 100%;" src="{{ asset('bundles/programcmstheme/images/programcms-logo-presentation.png') }}" alt="{{ block.trans('Logo') }}"/>
    </a>
    <h4 class="mt-3 mb-4 welcome-message" style="color: #379DFF">
        {{ block.trans('Welcome, please sign in') }}
    </h4>

    {% if block.getError() is not empty %}
        <div class="alert flash-message alert-danger flash-message-danger">{{ block.getError() }}</div>
    {% endif %}

    <form method="POST" action="" id="user_authentication_register">
        <div class="mb-3">
            <label for="email" class="form-label">
                {{ block.trans('Email') }}
            </label>
            <span class="text-danger">*</span>
            <input type="email" class="form-control" id="email" name="email" value="{{ block.getLastEmail() }}" autofocus/>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">
                {{ block.trans('Continue') }}
            </button>
        </div>
    </form>
</div>