<div class="row">
        <div class="col-md-3">
            <div class="config-menu">
                <ul>
                    {% for tab in efBlock.getTabs() %}
                        <li class="root {% if tab.active is defined %}open{% endif %}">
                            <a href="#">{{ tab.label }}</a>
                        </li>
                        {% if tab.sections is defined %}
                            <ul class="child" {% if tab.active is defined %} style="display: block" {% endif %}>
                                {% for sectionId, section in tab.sections %}
                                    <li>
                                        <a class="{% if section.active %}active{% endif %}" href="{{ path('adminhtml_config_systemconfig_edit') }}/sectionId/{{ sectionId }}">
                                            {{ section.label }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9" style="padding-left: 21px;">
            <form id="electroforums_config">
                {% for groupId, group in efBlock.getCurrentSectionGroups() %}
                <div class="ef-colapse">
                    <a data-bs-toggle="collapse" href="#{{ groupId }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        {{ group.label }}
                    </a>
                    <div class="collapse ef-collapse-container" id="{{ groupId }}">
                        {% for fieldId, field in group.fields %}
                            <div class="row mb-3">
                                <div class="col-3 text-end">
                                    <label for="{{ fieldId }}" class="col-form-label">{{ field.label }}</label>
                                </div>
                                <div class="col-6">
                                    {% if field.type == 'text' %}
                                        <input type="text" name="{{ groupId }}/{{ fieldId }}" id="{{ fieldId }}" class="form-control" value="{{ field.value }}" placeholder="{{ field.label }}" />
                                    {% endif %}

                                    {% if field.type == 'yesno' %}
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="{{ groupId }}/{{ fieldId }}" value="off" />
                                            <input class="form-check-input ef-checkbox-switcher" name="{{ groupId }}/{{ fieldId }}" type="checkbox" role="switch" id="{{ fieldId }}" value="on" {% if field.value == 'on' %}checked{% endif %}>
                                        </div>
                                    {% endif %}

                                    {% if field.type == 'textarea' %}
                                        <textarea class="form-control" name="{{ groupId }}/{{ fieldId }}" id="{{ fieldId }}" placeholder="{{ field.label }}"></textarea>
                                    {% endif %}

                                    {% if field.type == 'select' %}
                                        <select class="form-select" name="{{ groupId }}/{{ fieldId }}" id="{{ fieldId }}">
                                            {% for optionValue, option in field.source %}
                                                <option value="{{ optionValue }}" {% if optionValue == field.value %}selected{% endif %}>{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}

                                    {% if field.type == 'multiselect' %}
                                        <select class="form-select multiselect" name="{{ groupId }}/{{ fieldId }}" id="{{ fieldId }}" {% if field.type == 'multiselect' %}multiple{% endif %}>
                                            {% for optionValue, option in field.source %}
                                                <option value="{{ optionValue }}">{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <input type="hidden" name="section_id" value="{{ efBlock.getSectionId() }}" />
            </form>
        </div>
    </div>