<div class="category-tree">
    <a href="#" class="tree-group" id="collapse">Collapse All</a> | <a href="#" class="tree-group" id="expand">Expand
        All</a>
    <div class="tree">
        <ul>
            <li>
                            <span class="title">
                                <img src="{{ asset('bundles/electroforumscategory/images/folder-search.png') }}"/>
                                <span class="category-name active"
                                      data-url="{{ path('electroforums_category_tree_edit', {id: 4}) }}">
                                    Default Category
                                    <span>- 4020</span>
                                </span>
                            </span>
                <ul class="child">
                    <li>
                                    <span class="title">
                                        <img src="{{ asset('bundles/electroforumscategory/images/folder-search.png') }}"/>
                                        <span class="category-name">
                                            Physics
                                            <span>- 15</span>
                                        </span>
                                    </span>
                        <ul class="child">
                            <li>
                                            <span class="title">
                                                <img src="{{ asset('bundles/electroforumscategory/images/folder-open.png') }}"/>
                                                <span class="category-name">US Movies</span>
                                            </span>
                            </li>
                            <li>
                                            <span class="title">
                                                <img src="{{ asset('bundles/electroforumscategory/images/folder-open.png') }}"/>
                                                <span class="category-name">
                                                    Photoshop Technics
                                                    <span>- 10</span>
                                                </span>
                                            </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                                    <span class="title">
                                        <img src="{{ asset('bundles/electroforumscategory/images/folder-search.png') }}"/>
                                        <span class="category-name">
                                            Politics
                                            <span>- 420</span>
                                        </span>
                                    </span>
                    </li>
                </ul>
            </li>
            <li>
                            <span class="title">
                                <img src="{{ asset('bundles/electroforumscategory/images/folder-search.png') }}"/>
                                <span class="category-name">
                                    Frensh Website
                                    <span>- 4020</span>
                                </span>
                            </span>
                <ul class="child">
                    <li>
                                    <span class="title">
                                        <img src="{{ asset('bundles/electroforumscategory/images/folder-search.png') }}"/>
                                        <span class="category-name">
                                            Politique
                                            <span>- 15</span>
                                        </span>
                                    </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>