{% extends '@ProgramCmsTheme/adminhtml/layout.html.twig' %}

{% block title %}Default Category (ID: 1) / Categories{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/programcmscategory/css/adminhtml/category_tree.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/programcmscategory/js/adminhtml/category_tree.js') }}"></script>
{% endblock %}

{% block page_title %}Default Category (ID: 1){% endblock %}

{% block content %}

    {{ component('toolbar', {buttons: buttons, includeWebsiteSwitcher: includeWebsiteSwitcher}) }}

    <div class="row">
        <div class="col-md-3 category-tree-container">
            <div class="category-buttons">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-secondary btn-sm add-category" id="root" data-ef-url="{{ path('programcms_category_tree_create') }}">Add Root Category</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm add-category" id="subcategory" data-ef-url="{{ path('programcms_category_tree_create_parent', {parent: 3}) }}">Add Subcategory</button>
                </div>
            </div>
            {% include '@ProgramCmsCategory/adminhtml/tree.html.twig' %}
        </div>
        <div class="col-md-9">

            {{ component('eav_entity_attribute_view') }}

            <div class="ef-colapse">
                <h5>
                    <a class="" style="color: #000000" data-bs-toggle="collapse" href="#posts" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Posts in Category
                    </a>
                </h5>
                <div class="collapse ef-collapse-container" id="posts">
                    <table class="table table-striped">
                        <thead>
                        <th></th>
                        <th>#</th>
                        <th>Title</th>
                        <th>Publisher</th>
                        <th>Role</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="checkbox" name=""> </td>
                            <th scope="row">25415</th>
                            <td>Med EL QUCHIRI</td>
                            <td><a href="#">Med ELQ</a> </td>
                            <td>USER</td>
                            <td>
                                <div class="btn-group dropstart">
                                    <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true"
                                       aria-expanded="false">
                                        Edit
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Lock</a></li>
                                        <li><a class="dropdown-item" href="#">Message</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}