{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<ul class="nav forum-navbar">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">
            <img src="https://startimes.com/icon.aspx?i=next.png">
            <p>{{ block.trans('Home') }}</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img src="https://startimes.com/icon.aspx?i=archive.png">
            <p>{{ block.trans('Archive') }}</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img src="https://startimes.com/icon.aspx?i=article.png">
            <p>{{ block.trans('My Replies') }}</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img src="https://startimes.com/icon.aspx?i=author.png">
            <p>{{ block.trans('Posts') }}</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img src="https://startimes.com/icon.aspx?i=themes.png">
            <p>{{ block.trans('Users') }}</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img src="https://startimes.com/icon.aspx?i=add.png">
            <p>{{ block.trans('Favorite') }}</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img src="https://startimes.com/icon.aspx?i=date.png">
            <p>مواضيع نشطة</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img src="https://startimes.com/icon.aspx?i=views.png">
            <p>إبحث</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img src="https://startimes.com/icon.aspx?i=plugins.png">
            <p>{{ block.trans('Help') }}</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img src="https://startimes.com/icon.aspx?i=profile.png">
            <p>بياناتك</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img src="https://startimes.com/icon.aspx?i=back.png">
            <p>{{ block.trans('Logout') }}</p>
        </a>
    </li>
</ul>