{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="pcms-editor">
    <div class="panel__post">
        <div class="row">
            <div style="padding: 9px 21px 0 21px; border-bottom: 1px solid #dedede">
                <form action="{{ block.getSaveUrl() }}" method="post" data-controller="editor">
                    <div class="editor-header">
                        <div class="image-input-container">
                            <a href="{{ block.getCategoryUrl() }}">
                                <img class="float-start" src="{{ block.getCategory().getCategoryImage() }}" width="40"
                                     height="40" alt=""/>
                            </a>
                            <input type="text" name="post_title" class="form-control ms-2 post_title" placeholder="{{ block.trans('Post Title ...') }}">
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary rounded-start-5 ps-4" data-action="editor#onSubmit">{{ block.trans('Share Post') }}</button>
                            <button type="button" class="btn btn-primary rounded-end-5 pe-3 dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">{{ block.trans('Save Post Privately') }}</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <p class="mb-0 p-3 pt-2 pb-2 text-muted" style="font-size: 13px;">
                                    {{ block.trans('The Post is saved to your account and will not be published on the site. You can publish it later.') }}
                                </p>
                            </ul>
                        </div>
                    </div>
                    <div class="panel__top mt-2">
                        <div class="panel__actions">
                            <div class="editor-rte-action editor-icon btn-redo"></div>
                            <div class="editor-rte-action editor-icon btn-undo"></div>
                            <div class="editor-rte-action editor-icon btn-print"></div>
                        </div>
                        <div class="panel__actions">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle editor-dropdown editor-rte-action" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    100%
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel__actions">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle editor-dropdown editor-rte-action" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    كلاسيكي
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">كلاسيكي</a></li>
                                    <li><a class="dropdown-item" href="#" style="font-size: 21px">عنوان 1</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel__actions">
                            <div class="editor-rte-action editor-icon btn-bold" id="bold"></div>
                            <div class="editor-rte-action editor-icon btn-italic" id="italic"></div>
                            <div class="editor-rte-action editor-icon btn-underline" id="underline"></div>
                            <div class="editor-rte-action editor-icon btn-text-color" id="textColor">
                                <input type="text" style="position: absolute; width: 1px; height: 1px; left: 0; top: 0; border: 0; background: inherit" id="text-color-choose" />
                                <div id="choosen-color" style="position:absolute; width: 19px; height: 3px; background-color: black; left: 0; right: 0; margin: auto; bottom: 6px;"></div>
                            </div>
                        </div>
                        <div class="panel__actions">
                            <div class="editor-rte-action editor-icon btn-link" id="link"></div>
                            <div class="editor-rte-action editor-icon btn-image" id="image"></div>
                        </div>
                        <div class="panel__actions">
                            <div class="editor-rte-action editor-icon btn-unordered-list" id="unorderedList"></div>
                            <div class="editor-rte-action editor-icon btn-numbered-list" id="orderedList"></div>
                            <div class="editor-rte-action editor-icon btn-check-list" id="checkList"></div>
                        </div>
                        <div class="panel__actions">
                            <div class="editor-rte-action editor-icon btn-left-align" id="leftAlign"></div>
                            <div class="editor-rte-action editor-icon btn-center-align" id="centerAlign"></div>
                            <div class="editor-rte-action editor-icon btn-right-align" id="rightAlign"></div>
                        </div>
                    </div>
                    <input type="hidden" name="category_id" value="{{ block.getCategory().getEntityId()}}" />
                    {% if block.isPostMode() %}
                        <input type="hidden" name="post_id" id="post_id" value="{{ block.getPostId() }}" />
                    {% endif %}
                    {% if block.isCommentMode() %}
                        <input type="hidden" name="comment_id" id="comment_id" value="{{ block.getCommentId() }}" />
                    {% endif %}
                    <input type="hidden" id="editor_mode" value="{{ block.getEditorMode() }}" />
                </form>
            </div>
        </div>
    </div>

    <div class="editor-row">
        <div id="blocks" class="editor-column">

        </div>
        <div class="editor-canvas editor-column" id="editor-wrapper" aria-describedby="gjs">
            <div>What do you want to say ? ...</div>
        </div>
        <div id="components" class="editor-column">

        </div>
    </div>

    <div class="editor_message" style="display: none; position: fixed; top: 0; left: 0; right: 0; margin: auto; width: 500px; min-height: 20px; background-color: rgba(255, 227, 16, 0.4); z-index: 99999; border-radius: 0 0 3px 3px">
        <div class="editor_message_container p-2" style="font-size: 14px; text-align: center"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade modal__actions" id="linkModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ block.trans('Add Link') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form_link">
                    <div class="mb-3">
                        <label for="link_title" class="form-label">{{ block.trans('Link Title') }}</label>
                        <input type="text" class="form-control" id="link_title" aria-describedby="link_title">
                    </div>
                    <div class="mb-3">
                        <label for="link_url" class="form-label">{{ block.trans('Link') }}</label>
                        <input type="text" class="form-control" id="link_url">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {{ block.trans('Close') }}
                </button>
                <button type="button" class="btn btn-primary" id="add_link_button">
                    {{ block.trans('Add Link') }}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
{#<div class="modal fade" id="drive-editor-image" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#    <div class="modal-dialog modal-dialog-scrollable modal-xl">#}
{#        <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.9)">#}
{#            <div class="modal-header">#}
{#                <div>#}
{#                    <h1 class="modal-title fs-5" id="exampleModalLabel">Drive Gallery</h1>#}
{#                    <small>Choose from Drive Gallery</small>#}
{#                </div>#}
{#                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#            </div>#}
{#            <div class="modal-body file_manager row"></div>#}
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
{#                <button type="button" class="btn btn-primary">Save changes</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<style>
    html, body {
        overflow: hidden;
    }
</style>