{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="{{ block.getPost().getCategories().last().getCategoryImage() }}" width="40" height="40" alt=""/>
        </a>
        <p class="mt-3">
            <a href="" style="color: #000000">{{ block.getPost().getCategories().last().getCategoryName() }}</a>
            <span style="display: block; font-size: 13px;" class="mt-1">{{ block.trans('Managed by') }}: <a href="">Med ELQ</a></span>
        </p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item me-3">
                    <a class="nav-link text-center" aria-current="page" href="" style="font-size: 13px; font-weight: bold;">
                        <img src="{{ asset('bundles/programcmspost/images/new.png') }}" alt=""/>
                        <p>{{ block.trans('New Post') }}</p>
                    </a>
                </li>
                <li class="nav-item me-3 text-center">
                    <a class="nav-link" aria-current="page" href="" style="font-size: 13px; font-weight: bold;">
                        <img src="{{ asset('bundles/programcmspost/images/hot.png') }}"/>
                        <p>مواضيع نشطة</p>
                    </a>
                </li>
                <li class="nav-item me-3 text-center">
                    <a class="nav-link" aria-current="page" href="" style="font-size: 13px; font-weight: bold;">
                        <img src="{{ asset('bundles/programcmspost/images/message.png') }}"/>
                        <p>مراسلة المنتدى</p>
                    </a>
                </li>
                <li class="me-2">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>1/4587</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <label for="floatingSelect">{{ block.trans('Page') }}</label>
                    </div>
                </li>
                <li>
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Recent</option>
                            <option value="1">Trending</option>
                        </select>
                        <label for="floatingSelect">{{ block.trans('Sort by') }}</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="table-responsive">
    <table class="table table-bordered table-forums caption-top mb-5">
        <thead class="table-forum-times">
            <th colspan="2" class="text-center" style="width: 23%;">{{ block.getPost().getPostName() }}</th>
        </thead>
        <tbody>
            <tr>
                <td style="width: 1%">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">
                            <div class="profile-image" style="display: inline-block; border: 3px solid #6d9dcb; width: 38px; height: 38px; border-radius: 50%; padding: 1px;">
                                <img src="{{ block.getPost().getUser().getProfileImage() }}" style="width: 100%; height: 100%; border-radius: 50%;" alt="" />
                            </div>
                            <p class="m-0 mt-2">{{ block.getPost().getUser().getFullname() }}</p>
                            <p class="text-muted m-0" style="font-size: 13px;">مدير المنتديات</p>
                        </li>
                        <li class="list-group-item" style="font-size: 14px;">
                            مشاركات: 300
                        </li>
                        <li class="list-group-item" style="font-size: 14px;">
                            نقاط التميز: 500
                        </li>
                    </ul>
                </td>
                <td>
                    {{ block.getPost().getPostHtml()|raw }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <textarea class="form-control"></textarea>
                    <input type="submit" class="btn btn-primary" value="Add Comment">
                </td>
            </tr>
        </tbody>
    </table>
</div>
