{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ block.getCategoryUrl() }}">
            <img src="{{ block.getCategory().getCategoryImage() }}" width="40" height="40" alt=""/>
        </a>
        <p class="mt-3">
            <a href="{{ block.getCategoryUrl() }}" style="color: #000000">{{ block.getCategory().getCategoryName() }}</a>
            <span style="display: block; font-size: 13px;" class="mt-1">{{ block.trans('Managed by') }}: <a href="">Med ELQ</a></span>
        </p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item me-3">
                        <a class="nav-link text-center" aria-current="page" href="{{ block.newPostUrl() }}" style="font-size: 13px; font-weight: bold;">
                            <img src="{{ asset('bundles/programcmspost/images/new.png') }}" alt=""/>
                            <p>{{ block.trans('New Post') }}</p>
                        </a>
                    </li>
                    {% if block.isPostInFavorite() == false %}
                    <li class="nav-item me-3 text-center">
                        <a href="{{ block.getAddToFavoriteUrl() }}" class="nav-link" aria-current="page" style="font-size: 13px; font-weight: bold;">
                            <img src="{{ asset('bundles/programcmspost/images/favorite.png') }}"/>
                            <p>{{ block.trans('Add to Favorite') }}</p>
                        </a>
                    </li>
                    {% endif %}
                {% endif %}
                <li class="nav-item me-3 text-center">
                    <a class="nav-link" aria-current="page" href="" style="font-size: 13px; font-weight: bold;">
                        <img src="{{ asset('bundles/programcmspost/images/hot.png') }}"/>
                        <p>{{ block.trans('Active Topics') }}</p>
                    </a>
                </li>
                <li class="nav-item me-3 text-center">
                    <a class="nav-link" aria-current="page" href="" style="font-size: 13px; font-weight: bold;">
                        <img src="{{ asset('bundles/programcmspost/images/message.png') }}"/>
                        <p>{{ block.trans('Message Managers') }}</p>
                    </a>
                </li>
                <li class="me-2">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>1/1</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <label for="floatingSelect">{{ block.trans('Page') }}</label>
                    </div>
                </li>
                <li>
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Recent</option>
                            <option value="1">Trending</option>
                        </select>
                        <label for="floatingSelect">{{ block.trans('Sort by') }}</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="table-responsive">
    <table class="table table-bordered table-forums caption-top mb-5">
        <thead class="table-forum-times">
            <th colspan="2" class="text-center" style="width: 23%;">{{ block.getPost().getPostName() }}</th>
        </thead>
        <tbody>
            <tr>
                <td style="width: 1%">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">
                            <div class="profile-image" style="display: inline-block; border: 3px solid #6d9dcb; width: 38px; height: 38px; border-radius: 50%; padding: 1px;">
                                <img src="{{ block.getPost().getUser().getProfileImage() }}" style="width: 100%; height: 100%; border-radius: 50%;" alt="" />
                            </div>
                            <p class="m-0 mt-2">
                                <a href="{{ block.getUserUrl() }}">{{ block.getPost().getUser().getFullname() }}</a>
                            </p>
                            <p class="text-muted m-0" style="font-size: 13px;">{{ block.trans('Member') }}</p>
                        </li>
                        <li class="list-group-item" style="font-size: 14px;">
                            مشاركات: 300
                        </li>
                        <li class="list-group-item" style="font-size: 14px;">
                            نقاط التميز: 500
                        </li>
                    </ul>
                </td>
                <td>
                    <div class="post_content p-2">
                        <style>
                            {{ block.getPost().getPostCss()|raw }}
                        </style>
                        {{ block.formatPost(block.getPost().getPostHtml())|raw }}
                    </div>
                    <div class="post_options text-end mt-3 p-3">
                        <div class="btn-group dropdown">
                            <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true"
                               aria-expanded="false">
                                {{ block.trans('Edit') }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ block.getEditPostUrl() }}">{{ block.trans('Edit Post') }}</a></li>
                                <li><a class="dropdown-item" data-controller="delete-comment" data-action="delete-comment#onDelete" id="{{ block.getPost().getEntityId() }}" href="#">{{ block.trans('Delete Post') }}</a></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>

            {% if block.hasComments() %}
                {% for comment in block.getComments() %}
                    <tr id="comment-{{ comment.getEntityId() }}">
                        <td>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-center">
                                    <div class="profile-image" style="display: inline-block; border: 3px solid #6d9dcb; width: 38px; height: 38px; border-radius: 50%; padding: 1px;">
                                        <img src="{{ comment.getUser().getProfileImage() }}" style="width: 100%; height: 100%; border-radius: 50%;" alt="" />
                                    </div>
                                    <p class="m-0 mt-2">{{ comment.getUser().getFullname() }}</p>
                                    <p class="text-muted m-0" style="font-size: 13px;">{{ block.trans('Member') }}</p>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <div class="post_comment p-2">
                                {{ comment.getComment()|raw }}
                            </div>
                            <div class="comment_options text-end mt-3 p-3">
                                <div class="btn-group dropdown">
                                    <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true"
                                       aria-expanded="false">
                                        {{ block.trans('Edit') }}
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ block.getEditCommentUrl(comment) }}">{{ block.trans('Edit Comment') }}</a></li>
                                        <li><a class="dropdown-item" data-controller="delete-comment" data-action="delete-comment#onDelete" id="{{ comment.getEntityId() }}" href="#">{{ block.trans('Delete Comment') }}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% if(is_granted('IS_AUTHENTICATED_FULLY')) %}
                <tr id="comment-container">
                    <td>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center">
                                <div class="profile-image" style="display: inline-block; border: 3px solid #6d9dcb; width: 38px; height: 38px; border-radius: 50%; padding: 1px;">
                                    <img src="{{ block.getUser().getProfileImage() }}" style="width: 100%; height: 100%; border-radius: 50%;" alt="" />
                                </div>
                                <p class="m-0 mt-2">{{ block.getUser().getFullname() }}</p>
                                <p class="text-muted m-0" style="font-size: 13px;">{{ block.trans('Member') }}</p>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <form action="{{ block.getCommentSaveUrl() }}" method="POST" data-controller="new-comment">
                            <textarea name="comment" class="form-control" placeholder="{{ block.trans('Write a comment ..') }}" rows="5"></textarea>
                            <input type="hidden" name="post_id" value="{{ block.getPost().getEntityId() }}" />
                            <input type="submit" class="btn btn-primary float-end mt-2" data-action="new-comment#onSubmit" value="{{ block.trans('Add Comment') }}">
                        </form>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
