{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<ul class="navbar-nav mb-2 mb-lg-0">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            {{ block.getAdminName() }}
        </a>
        <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="{{ block.getAccountSettingsUrl() }}">{{ block.trans('Account Settings')}}</a>
            <a class="dropdown-item" href="{{ block.getFrontendBaseUrl() }}" target="_blank">{% trans %}User View{% endtrans %}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ block.getLogoutUrl() }}">{% trans %}Logout{% endtrans %}</a>
        </div>
    </li>
</ul>