{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<a
    id="{{ block.getId() }}"
    class="{{ block.getCssClass() }}"
    {% if block.hasHref() %}href="{{ block.getHref() }}"{% endif %}
    aria-describedby="{{ block.getId() }}"
    {% if block.isDisabled() %}disabled="disabled"{% endif %}
>{% if block.hasValue() %}{{ block.getValue() }}{% endif %}</a>