{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}

<div class="input-group datepicker-group-input">
    <input data-controller="date"
           id="{{ block.getId() }}"
           type="text"
           name="{{ block.getName() }}"
           class="form-control input-datepicker"
           {% if block.hasPlaceholder() %}placeholder="{{ block.getPlaceholder() }}"{% endif %}
            {% if block.hasValue() %}value="{{ block.getValue() }}"{% endif %}
           aria-describedby="{{ block.getId() }}"
            {% if block.isDisabled() %}disabled="disabled"{% endif %}
    />
    <label for="{{ block.getId() }}" class="input-group-text input-group-datepicker"></label>
</div>