{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div
    class="form-check form-switch switcher-field"
    data-controller="switcher-field"
    data-switcher-field-yes-value="{{ block.trans('Yes') }}"
    data-switcher-field-no-value="{{ block.trans('No') }}"
    data-action="click->switcher-field#switcherClick">
    <input type="hidden" name="{{ block.getName() }}" />
    <input
        id="{{ block.getId() }}"
        class="form-check-input checkbox-switcher"
        name="{{ block.getName() }}"
        type="checkbox"
        role="switch"
        {% if block.isChecked() %}checked{% endif %}
        {% if block.isDisabled() %}disabled="disabled"{% endif %}
    />
    <label class="status" for="status"></label>
</div>