{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="user">
        <a href="{{ block.getUrl('user_account_register') }}">
            {{ block.trans('Create an Account') }}
        </a>
        {{ block.trans('or') }}
        <a href="{{ block.getUrl('user_account_login') }}">
            {{ block.trans('Login') }}
        </a>
    </div>
{% endif %}
