{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <div class="profile-image" style="display: inline-block; border: 3px solid #6d9dcb; width: 33px; height: 33px; border-radius: 100%; padding: 0;">
                    <img src="{{ app.user.getProfileImage() }}" style="width: 100%; height: 100%; border-radius: 100%;" alt="" />
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="{{ block.getUserUrl() }}">{{ block.trans('Profile') }}</a>
                <a class="dropdown-item" href="{{ path('frontend_user_edit_index') }}">
                    {{ block.trans('Edit Account') }}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('frontend_user_account_logout') }}">
                    {{ block.trans('Logout') }}
                </a>
            </div>
        </li>
    </ul>
{% endif %}