{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<section class="h-100 mb-5">
    <header class="container h-100">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="d-flex flex-column">
                <div class="card" style="border: none">
                    <div class="card-body" style="width: 29rem;">
                        <div class="mb-5">
                            <h2>{{ block.trans('Log in') }}</h2>
                            <p style="color: #888888">{{ block.trans('Join our Community.') }}</p>
                        </div>
                        <form method="POST" action="{{ block.getSubmitUrl() }}">
                            <div class="mb-3">
                                <label for="email" class="form-label fw-bold">{{ block.trans('Email') }}</label>
                                <input type="email" class="form-control" id="email" name="email" value="{{ block.getLastEmail() }}" autofocus>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label fw-bold">{{ block.trans('Password') }}</label>
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="*********">
                                <div id="emailHelp" class="form-text mt-3 text-end">
                                    <a href="{{ block.getForgottenPasswordUrl() }}">{{ block.trans('Forgotten Password ?') }}</a>
                                </div>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" id="_remember_me" name="_remember_me" class="form-check-input">
                                <label class="form-check-label" for="_remember_me">
                                    {{ block.trans('Remember me on this device') }}
                                </label>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="mt-5">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">
                                    {{ block.trans('Login Now') }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>