{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<section class="h-100 mb-5">
    <header class="container h-100">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="d-flex flex-column">
                <div class="card" style="border: none">
                    <div class="card-body" style="width: 29rem;">
                        <h2>{{ block.trans('Create an Account') }}</h2>
                        <p class="mb-5" style="color: #888888">{{ block.trans('Join our Community.') }}</p>
                        <form method="POST" id="user_authentication_register">
                            <div class="mb-3">
                                <label for="username" class="form-label fw-bold">
                                    {{ block.trans('Email') }}
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="email" class="form-control" name="email" />
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label fw-bold">
                                    {{ block.trans('Password') }}
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="password" class="form-control" name="password" />
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label fw-bold">
                                    {{ block.trans('User Name') }}
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" name="user_nickname" />
                                <div id="emailHelp" class="form-text">
                                    {{ block.trans('This will be your identifier in the website.') }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label fw-bold">{{ block.trans('First Name') }}</label>
                                <input type="text" class="form-control" name="user_firstname" />
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label fw-bold">{{ block.trans('Last Name') }}</label>
                                <input type="text" class="form-control" name="user_lastname" />
                            </div>

                            {{ block.getChildHtml()|raw }}

                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">
                                    {{ block.getRulesAndPolicy()|raw }}
                                </label>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="mt-5">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">
                                    {{ block.trans('Create my Account') }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>
