<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>
{#            {% EFBlock name="page.title" %}Welcome to ElectroForums !{% endEFBlock %}#}
        </title>

        {# Merge All Css Files #}
        {% for css in efCss %}
            <link rel="stylesheet" type="text/css" href="{{ asset(css) }}" />
        {% endfor %}

        {# Merge All Javascript Files #}
        {% for js in efJs %}
            <script type="text/javascript" src="{{ asset(js) }}"></script>
        {% endfor %}
    </head>
    <body>
        {% if efContainers %}
            {% for efContainer in efContainers %}
                <{{ efContainer.htmlTag }} class="{{ efContainer.htmlClass }}">
                    {% for efBlock in efContainer.blocks %}
                        {{ efBlocks[efBlock]|raw }}
                    {% endfor %}
                </{{ efContainer.htmlTag }}>
            {% endfor %}
        {% endif %}
    </body>
</html>