{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/electroforumsui/css/adminhtml/grid.css') }}">
{% endblock %}

<nav class="navbar navbar-expand-lg">
    <div class="navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search" style="margin-right: 11px;">
            <div class="input-group">
                <input type="text" style="width: 300px" class="form-control" placeholder="Search by Keyword .."
                       aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn" type="button" id="button-addon2"
                        style="border: 1px solid #CCC; border-left: 0; padding-top: 0;">
                    <img src="{{ asset('bundles/electroforumsforum/images/search.png') }}"
                         style="width: 15px; height: 15px"/>
                </button>
            </div>
        </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Filters
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#">Profile</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Columns
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#">Profile</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Export
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#">PDF</a>
                    <a class="dropdown-item" href="#">CSV</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg">
    <div class="navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex me-5" role="search">
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected>Select an Action</option>
                    <option value="1">Delete</option>
                    <option value="2">Activate</option>
                    <option value="3">Desactivate</option>
                </select>
                <label for="floatingSelect">Bulk Actions</label>
            </div>
        </form>
        <span class="mb-0">3 records found</span>

        <div class="input-group flex-nowrap mb-3 justify-content-end ms-auto mt-2" style="width: 120px;">
            <button class="btn pagination-left-button" type="button" id="button-addon1"></button>
            <input type="text" class="form-control text-center" value="1">
            <button class="btn" style="border: 1px solid #dedede;" type="button" id="button-addon1">></button>
        </div>
    </div>
</nav>

<table class="table table-striped mt-3">
    <thead class="table-dark">
    {% for column in this.columns %}
        <th>{{ column.title }}</th>
    {% endfor %}
    </thead>
    <tbody>
    {% for rowColumn in this.data %}
        <tr>
            <td class="text-center">
                <input type="checkbox" name=""/>
            </td>
            {% for value in rowColumn %}
                <td>{{ value.label }}</td>
            {% endfor %}
            {% if this.actions is defined %}
                <td class="text-center">
                    {% for action in this.actions %}
                        {% if action.type == 'url' %}
                            <a href="#">{{ action.label }}</a>
                        {% endif %}
                        {% if action.type == 'dropdown' %}
                            <div class="btn-group" style="margin-top: -3px;">
                                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true"
                                   aria-expanded="false">
                                    {{ action.label }}
                                </a>
                                <ul class="dropdown-menu">
                                    {% for subAction in action.actions %}
                                        <li><a class="dropdown-item" href="#">{{ subAction.label }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>