{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="row">
    <div class="col-md-4">
        <form action="{{ block.getCurrentRequestUri() }}" method="get" data-controller="listing-search">
            <div class="input-group">
                <input name="keyword_search" type="text" class="form-control" value="{{ block.getValue() }}"
                       placeholder="{{ block.trans('Search by Keyword ..') }}"/>
                <button type="submit" class="btn" id="button-search" data-action="listing-search#onSubmit" style="border: 1px solid #CCC; padding-top: 0;">
                    <img src="{{ asset('bundles/programcmsui/images/search.png') }}" alt=""/>
                </button>
            </div>
            <input type="hidden" name="collection_class" value="{{ block.getCollectionClass() }}" />
        </form>
    </div>
</div>
