{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="card mb-3" style="">
    <div class="card-header">
        <span class="fw-bold" style="font-size: 14px">{{ block.trans('Sign in') }}</span>
    </div>
    <div class="card-body" style="font-size: 13px;">
        <form action="{{ block.getSubmitUrl() }}" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label" style="font-weight: bold;">{{ block.trans('Email') }}</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="{{ block.trans('Email') }}" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">لن نشارك بريدك الإلكتروني أبدًا مع أي شخص آخر.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label" style="font-weight: bold;">{{ block.trans('Password') }}</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" id="_remember_me" name="_remember_me" class="form-check-input">
                <label class="form-check-label" for="_remember_me">
                    {{ block.trans('Remember me') }}
                </label>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-primary float-end w-100">{{ block.trans('Sign In') }}</button>
        </form>
    </div>
</div>
{% endif %}