{% extends '@ElectroForumsTheme/base.html.twig' %}

{% block title %}Add new Topic{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ asset('bundles/electroforumstheme/css/frontend/header.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/electroforumscontent/css/frontend/editor.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css"/>
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/electroforumstheme/js/lib/jquery.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/go.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.7/beautify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.7/beautify-html.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/electroforumscontent/js/frontend/editor.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="content">
        {% block content %}
                <div class="ef-editor" >
                    <div class="ef-forum-view d-flex flex-row">
                        <a href="{{ path('electro_forums_forum_view', {id: 1}) }}">
                            <img src="{{ asset('bundles/electroforumsforum/images/general-forum.png') }}" width="35" height="35" class="mr-3">
                        </a>
                        <div class="w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center">
                                    <span class="mr-2" style="padding: 5px 7px;">
                                        <a href="{{ path('electro_forums_forum_view', {id: 1}) }}">
                                            <b>Welcome Forum !</b>
                                        </a>
                                        &middot;
                                        <small class="text-muted">New Post</small>
                                    </span>
                                </div>
                                <small>
                                    <span style="background-color: #eca741" class="badge badge-pill badge-primary">
                                        Posts Left: 7
                                    </span>
                                </small>
                            </div>
                            <p class="text-justify comment-text mb-0"></p>
                        </div>
                    </div>

                    <div class="ef-post-title">
                        <input type="text" name="post_title" placeholder="Write your Post's title here .." />
                    </div>

                    <div class="ef-toolbar">
                        <ul>
                            <li>
                                <a href="#" data-ef-code="bold">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/bold.png') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="#" data-ef-code="italic">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/italic.png') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="#" data-ef-code="underline">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/underline.png') }}" />
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <select name="">
                                    <option value="">Normal</option>
                                    <option value="" style="font-size: 31px;">Title 1</option>
                                    <option value="" style="font-size: 21px;">Title2</option>
                                </select>
                            </li>
                            <li>
                                <select name="">
                                    <option value="">Arial</option>
                                    <option value="">Sans-Serif</option>
                                    <option value="">Tahoma</option>
                                </select>
                            </li>
                            <li>
                                <select name="">
                                    {% for i in 1..50 %}
                                    <option value="">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/text_color.png') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/foreground.png') }}" />
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/left-align.png') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/center-align.png') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/right-align.png') }}" />
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/image.png') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="#" data-ef-code="url">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/link.png') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/video.png') }}" />
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/ordered_list.png') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/numbered_list.png') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/checkbox_list.png') }}" />
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/table.png') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/separator.png') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="#" data-ef-code="code">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/code.png') }}" />
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#" data-ef-code="widget">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/widget.png') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="#" data-ef-code="emoji">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/emoji.png') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="#" data-ef-code="code">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/export.png') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="#" data-ef-code="code">
                                    <img src="{{ asset('bundles/electroforumscontent/images/editor/fullscreen.png') }}" />
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="ef-content" placeholder="Write @ to tag community users" contenteditable="true"></div>
                    <pre class="html-view language-xml" data-lang="xml"></pre>

                    <div class="ef-details-bar">
                        <div class="">
                            <button class="btn btn-sm btn-link">Go Back</button>
                        </div>
                        <div class="buttons">
                            <button class="btn btn-primary btn-sm">Publish</button>
                            <button class="btn btn-secondary btn-sm">Save as Draft</button>
                        </div>
                    </div>
                </div>
        {% endblock %}
    </div>

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add URL</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="url-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="urlTitle">URL Title</label>
                            <input type="text" name="url_title" class="form-control" id="urlTitle" placeholder="Enter URL Title / Name">
                        </div>
                        <div class="form-group">
                            <label for="url">URL</label>
                            <input type="text" name="url" class="form-control" id="url" placeholder="http(s)://">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add URL</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}