{% extends '@ElectroForumsTheme/adminhtml/layout.html.twig' %}

{% block title %}Configuration{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/electroforumsconfig/css/menu.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/electroforumsconfig/js/config_menu.js') }}"></script>
{% endblock %}

{% block page_title %}Configuration{% endblock %}

{% block content %}

    {{ component('toolbar', {buttons: buttons, includeWebsiteSwitcher: true}) }}

    <div class="row">
        <div class="col-md-3">
            <div class="config-menu">
                <ul>
                    {% for tab in tabs %}
                        <li class="root">
                            <a href="#">{{ tab.label }}</a>
                        </li>
                        {% if tab.sections is defined %}
                            <ul class="child" {% if tab.active is defined %} style="display: block" {% endif %}>
                                {% for sectionId, section in tab.sections %}
                                    <li>
                                        <a class="{% if section.active %}active{% endif %}" href="{{ path('admin_configuration_edit', {sectionId: sectionId}) }}">
                                            {{ section.label }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            {% for groupId, group in currentSectionGroups %}
            <div class="ef-colapse">
                <a class="" style="color: #000000" data-bs-toggle="collapse" href="#{{ groupId }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    {{ group.label }}
                </a>
                <div class="collapse ef-collapse-container" id="{{ groupId }}">
                    {% for fieldId, field in group.fields %}
                        <div class="row mb-3">
                            <div class="col-3 text-end">
                                <label for="{{ fieldId }}" class="col-form-label">{{ field.label }}</label>
                            </div>
                            <div class="col-6">
                                {% if field.type == 'text' %}
                                    <input type="text" name="" id="{{ fieldId }}" class="form-control" placeholder="{{ field.label }}" />
                                {% endif %}

                                {% if field.type == 'yesno' %}
                                    <div class="form-check form-switch">
                                        <input class="form-check-input ef-checkbox-switcher" type="checkbox" role="switch" id="{{ fieldId }}" checked>
                                    </div>
                                {% endif %}

                                {% if field.type == 'textarea' %}
                                    <textarea class="form-control" id="{{ fieldId }}" placeholder="{{ field.label }}"></textarea>
                                {% endif %}

                                {% if field.type == 'select' %}
                                    <select class="form-select" name="" id="{{ fieldId }}">
                                        {% for option in field.source %}
                                            <option value="">{{ option }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}